{% extends 'page_types/no_nav_page.html' %}
{% block title %}Set Location{% endblock %}</h1>

{% block content %}
    <form method="post">
        <p>What city do you want JACK-IT weather predictions for? (You can always change this later.</p>
        <label for="city">Enter a city to search for, then choose from the list of results.</label>
        <input name="city" id="city">
        <button id="searchLoc" type="button" onclick="searchCities()">Search Cities</button>

        <label for="locList">Results:</label>
        <select name="locList" id="locList">
        </select>

        <input type="submit" value="Save Location Preferences">
    </form>

    <script type=text/javascript>

            function searchCities() {
                var citySearchString = document.getElementById('city').value;
                makeGetRequest("/searchcities/"+citySearchString+"/", populateCityResults);
            }

            function populateCityResults(httpRequest) {
                if (httpRequest.readyState === XMLHttpRequest.DONE) {
                    if (httpRequest.status === 200) {
                        var info = JSON.parse(httpRequest.responseText);
                        if (isEmpty(info)) {
                            alert("There were no results.");
                        } else {
                            var selectElement = document.getElementById("locList");
                            var i, L = selectElement.options.length - 1;
                                for(i = L; i >= 0; i--) {
                                    selectElement.remove(i);
                                }
                            for (index = 0; index < info.length; ++index) {
                                var cityOpt = new Option(info[index][1] + ", " + info[index][2], info[index][0]);
                                selectElement.append(cityOpt);
                            }
                        }
                    } else {
                        alert("There was an issue populating the city results.");
                    }
                }
            }

    </script>

{% endblock %}