body { margin: 0 auto; }
h1 { font-family: arial black; color: black; margin: 1rem 0; font-size: xxx-large; border-bottom: 1px solid black;}
a { color: #377ba8; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-family: arial black; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }

.grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid black;
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }
    
  .grid-item-chosen {
    background-color: rgba(34, 10, 247, 0.8);
  }

  .hidden {
    display:none
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  .background_image {
    content: "";
    background-image: url('/static/img/logo_no_words.png');
    background-color: #eeeeee;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }

  .background_image_faded {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    content: "";
    background-image: url('/static/img/logo_no_words.png');
    background-color: #eeeeee;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  .blackbar_impact {
    margin:auto;
    width:100%;
    font-family:Impact;
    text-align:center;
    color:yellow;
    background-color:black;
    position:relative;
  }

  .overlay_box {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(255, 255, 0, 0.8); /* yellow w/opacity/see-through */
    font-family: arial black;
    color: black;
    border: 3px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 40%;
    padding: 20px;
  }

  .blue_btn {
    color: black;
    font-family: arial black;
    border: none;
    background-color: rgba(153, 191,299,100);
    border-radius:5px;
  }

  a.yellow_btn {
    color:black;
    font-family:Impact;
    background-color:yellow;
    border-radius:5px;
    font-size:20px;
    width:40%;
    margin-left:30%;
    border:3px solid black;
    appearance: button;
    text-align:center;
    text-decoration:none;
    position:relative;
  }

  div.settings {
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
  }
  div.settings label       { 
    text-align:right; 
  }

  .modal {
    background-color: rgba(0,0,0,0.4); /* Transparent dimmed overlay */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table;
  }
  
  .modal.hidden {
    display: none;
  }