{% extends 'base.html' %}

{% block content %}
    <div class='background_image'></div>
    <p class="blackbar_impact" style="font-size:50px;margin-top:20px;">NOT SURE WHAT TO WEAR TODAY?</p>
    <p class="blackbar_impact"style="font-size:50px;margin-top:20px;">JUST . . .</p>
    <p class="blackbar_impact" style="font-size:150px;margin-top:100px;">JACK - IT</p>
    <a class="yellow_btn" href="{{ url_for('auth.registerUserPass') }}" style="margin-top:50px;">Create Account</a>
    <a class="yellow_btn" href="{{ url_for('auth.login') }}" style="margin-top:20px;">Log In</a>
{% endblock %}